/* 
#072d67 (Blue) 
#5e35b1 (Purple) 
#f4f4f4 (White) 
#0e0e0e (Black) */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f4f4f4;
    background-image: url("../images/4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header nav {
    margin-right: 1em;
    width: 100%;
}

header nav menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0.5em 0.5em;
}

header nav menu a {
    border-right: 5px solid red;
    text-decoration: none;
    color: red;
    padding: 0 1em;
    font-size: 2em;
    transition: ease-in-out 0.25s;
}

header nav menu a:hover {
    color: white;
    border-color: white;

}

/*Removing the border form the last child in this case contacts from the navbar*/
header nav menu li:last-child a {
    border: none;
}
#header-logo{
    width: auto;
    height: 100%;
    flex-grow: 1;
}

#header-logo img {
    width: 67.4%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.mast-head {
    background-image: url("../images/4.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0 100%);
}