/* i want to remove the default padding around the html */
html{
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
}
/* we going to use permanent marker only for the JId the main artist everything else  will have it's own font */
body{
    background-image: url(../images/Forever-Story.jpg);
    color: #A3BFF1;
    font-family: "Permanent Marker", serif;
    backdrop-filter: blur(10px);
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 3em;
    background-size: contain;
    
    
}
/*I wanted to make the font colour blue*/
.content-wrapper{
    padding-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #221D1D;
    width: 80%;
    font-size: 1.2em;
  
}
figcaption{
    
}
header{
    font-size: 1.7em;
}

iframe{
    margin-bottom: 1em;
    aspect-ratio: 16 / 9;
    width: 100%;
}
figure{
    margin-bottom: 4em;
}

main{

    padding: 0em 1em 2.5em 1em;
    background-color: #9E8A90;
    color: white;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 800px;

}

.layered{
    text-shadow: -7px 0 0 red;
    font-size: 1.5em;
}

#whisper{
    font-size: 0.85em;
    padding: 0.25em;
    color: lightgoldenrodyellow;
}

.ref{
    font-family: "Electrolize", serif;
    color: lightgreen;
}

.verse3-flow2{
    margin-top: 2em;
    font-family: "Ga Maamli", serif;
    font-size: 1.1em;
}

.deep-voice{
    font-family: "Permanent Marker", serif;
    color: #58ecff;
    font-size: 1.3em;
}

.bg-voice{
    color: grey;
    background-color: lightgrey;
    padding: 0.25em;
    border-radius: 2em;
}

.intro{
    font-family: "Libre Franklin", serif;
    font-weight: 600;
}

.outro{
    font-family: "Kablammo", serif;
    color: darkred;
    font-size: 1.2em;
    margin-top: 2em;
}