html {
    width: 100%;
    height: 100%;
}

body {
    color: white;
    background-color: #be213e;
    margin: 0;
    padding: 0;
}
/* for the headings i'm using poppins with italisized its the closest thing in my opinion to the skittles font */
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
p,a,li,figcaption,td, label{
    font-family: "Roboto", sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    box-shadow: 3px 3px 10px black;
    width: 100%;
    background-image: url("../images/bg-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    height: min-content;
    transition: ease-in;
    animation: bigger 2s ease-in-out forwards;
    animation-delay: 0.2s;
    margin: 0;
    padding: 2em;
    font-size: 3em;
}

#rainbow {
    /* the reason for the transition is because without it, it would be a very abrupt increase in font size for the span element */
    transition: 1s ease-in-out;
}

#rainbow:hover {
    font-size: 1.5em;
    animation: shine 1s ease-in-out;
    text-transform: capitalize;
}

/* the shine keyframes are for the word rainbow just doing a simple font color change */
@keyframes shine {
    0% {
        color: green;
    }

    14% {
        color: blue;
    }

    28% {
        color: yellow;
    }

    42% {
        color: pink;
    }

    56% {
        color: purple;
    }

    70% {
        color: red;
    }

    84% {
        color: orange;
    }

    98% {
        color: cyan;
    }

    100% {
        color: white;
    }
}

/* we gonna have a nice animation where the text gets larger on page load */
@keyframes bigger {
    0% {
        opacity: 0;
        font-size: 1em;
    }

    50% {
        opacity: 1;
        font-size: 6em;
    }

    100% {
        font-size: 4em;
    }
}

/* Beginning of main */
main {
    display: flex;
    flex-direction: column;
}

.parralax-1,
.parralax-2 {
    z-index: -1;
    width: 100%;
    height: 20em;
    background-image: url("../images/rainbow-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#facts-section-header {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    font-size: 2.5em;
}

/* for the the first section i want to have a 2 by 2 grid to keep things organaized */
.facts-section {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 1.5em;
    justify-content: center;
    padding: 2em 0 5em 0;
    box-shadow: 3px 3px 10px black;
}

.facts {
    padding: 0.5em;
    font-size: 1.3em;
    background-color: #f7824b;
    transition: 0.25s ease-in-out;
}

.facts:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 1px rgb(255, 225, 1);
}

/* Skittle images slideshow using bacground properties */
.skittles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 3px 10px black;
    padding-bottom: 2em;
}

.skittles-container h2 {
    font-size: 2.5em;
    width: auto;
    height: auto;
}

.skittles {
    animation: skittles 8s infinite linear;
    border-radius: 2em;
    box-shadow: 0 0 10px black;
    height: 40vw;
    width: 60vw;
    background-size: cover;
    align-self: center;
}

@keyframes skittles {
    0% {
        background-image: url("../images/original.jpg");
    }

    25% {
        opacity: 1;
        background-image: url("../images/colorless.png");
    }

    50% {
        opacity: 1;
        background-image: url("../images/sour.png");
    }

    75% {
        opacity: 1;
        background-image: url("../images/freezed.png");
    }

    100% {
        opacity: 1;
        background-image: url("../images/original.jpg");
    }
}

.parralax-2 {
    background-image: url("../images/bg-image2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.parralax-2 h2 {
    background-color: purple;
    width: max-content;
    height: min-content;
    font-size: 2.5em;   
    padding: 0.5em;
}

/* nutrional value section */
#label-container {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#label {
    width: 50vw;
    height: auto;
}

.nutrition {
    height: 100%;
}

/* Beginning of the footer styles */
footer {
    margin-top: 5em;
    padding: 2em 0;
    font-size: 100%;
    width: 100%;
    background-color: #DC3655;
    border-top: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #ffa601;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin: 0.5em 0 0.2em;
    width: 100%;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #A601FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #bc4bf8;
}

footer img {
    width: 10%;
    margin: 1em 0;
}

footer p {
    margin: 0;
}